[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/Obsidian.AppImage --no-sandbox %U
TryExec=/usr/bin/Obsidian.AppImage
Icon=/usr/share/icons/obsidian.png
Terminal=false
Type=Application

StartupWMClass=Obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
